<style>

</style>
<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <router-link :to="{ name: 'welcome' }" class="navbar-brand"> Games</router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <router-link :to="{ name: 'gamethreeonline' }" class="nav-link"> Tres en raya</router-link>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</template>