<style>
    /*Tablero*/
    #tablero td{
        color: #fefefe;
        border: medium solid #D57D3A;
        font-size: 400%;
        text-align: center;

        heigth: 1em;
        width: 1em;
        /*padding-top: 15px;*/
    }
</style>
<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="font_white"><h1>Tres en raya</h1></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card border-success mb-3">
                    <div class="card-header" id="player_one">
                        Jugador {{ player_1 }}
                    </div>
                    <div class="card-body">
                        <img src="images/black_x.png" height="100" width="100"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <table id="tablero" cellspacing="0" class="table" style="background-color: white;" v-if="show">
                    <tr>
                        <td id="0" class="tablero " v-model="position" height="100" width="100">
                            <img v-bind:src="image" height="100" width="100" v-on:click="setImage"/>
                        </td>
                        <td id="1" class="tablero " v-model="position" height="100" width="100">
                            <img v-bind:src="image" height="100" width="100" v-on:click="setImage"/>
                        </td>
                        <td id="2" class="tablero " v-model="position" style="background-color: yellow;" height="100" width="100">
                            <img v-bind:src="image" height="100" width="100" v-on:click="setImage"/>
                        </td>
                    </tr>
                    <tr>
                        <td id="3" class="tablero " v-model="position" height="100" width="100">
                            <img v-bind:src="image" height="100" width="100" v-on:click="setImage"/>
                        </td>
                        <td id="4" class="tablero " v-model="position" style="background-color: yellow;" height="100" width="100">
                            <img v-bind:src="image" height="100" width="100" v-on:click="setImage"/>
                        </td>
                        <td id="5" class="tablero " v-model="position" height="100" width="100">
                            <img v-bind:src="image" height="100" width="100" v-on:click="setImage"/>
                        </td>
                    </tr>
                    <tr>
                        <td id="6" class="tablero " v-model="position" style="background-color: yellow;" height="100" width="100">
                            <img v-bind:src="image" height="100" width="100" v-on:click="setImage"/>
                        </td>
                        <td id="7" class="tablero " v-model="position" height="100" width="100">
                            <img v-bind:src="image" height="100" width="100" v-on:click="setImage"/>
                        </td>
                        <td id="8" class="tablero " v-model="position" height="100" width="100">
                            <img v-bind:src="image" height="100" width="100" v-on:click="setImage"/>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-3">
                <div class="card border-success mb-3">
                    <div class="card-header" id="player_two">
                        Jugador {{ player_2 }}
                    </div>
                    <div class="card-body">
                        <img src="images/black_o.png" height="100" width="100"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 font_white">
                <div class="row">
                    <div class="col md-6">
                        El primero en completar 3 marcas seguidas, gana el juego.
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-info" v-on:click="newGame">Nuevo</button>
                        <button type="button" class="btn btn-warning float-right" v-on:click="resetGame">Reset</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="font_white">Últimas partidas jugadas</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</template>

<script>
    var positionsSelected = new Array();

    export default {
        data () {
            return {
                turn: 1,
                show: true,
                player_1: "X",
                player_2: "O",
                position: null,
                round: null,
                image: "images/empty.png",
                positionsSelected: new Array(9),
            }
        },
        mounted: function (){
            this.newGame();
        },
        methods: {
            newGame: function () {
                positionsSelected = new Array();
                var CSRF_TOKEN = $('meta[name="csrf-token"]').attr('content');

                $.ajax({
                    url: "new_game",
                    type: "POST",
                    data: {_token: CSRF_TOKEN, game: 1},
                    dataType: "JSON",
                    success: function (data) {
                        this.round = data.last_insert_id;
                    }.bind(this)
                });

                this.turn = 1;
                this.resetGame();
            },
            setImage: function (event) {
                var position = event.path[1].id;
                if($.inArray(position, positionsSelected) >= 0){
                    return
                }

                if(this.turn % 2 == 0){
                    //console.log("O");
                    //console.log("Position: "+position);
                    event.path[0].src = "images/black_o.png";
                    this.saveTurn("O", position);
                    this.positionsSelected[position] = "O";
                    this.winGame("O");
                }else{
                    //console.log("X");
                    //console.log("Position: "+position);
                    event.path[0].src = "images/black_x.png";
                    this.saveTurn("X", position);
                    this.positionsSelected[position] = "X";
                    this.winGame("X");
                }

                this.turn = this.turn +1;
            },
            resetGame: function () {
                positionsSelected = new Array();
                var self = this;
                self.show = false;

                Vue.nextTick(function (){
                    self.show = true;
                });
            },
            saveTurn: function (player, position) {
                var CSRF_TOKEN = $('meta[name="csrf-token"]').attr('content');

                $.ajax({
                    url: "save_turn",
                    type: "POST",
                    data: {_token: CSRF_TOKEN, round: this.round, position: position, player: player},
                    dataType: "JSON",
                    success: function (data) {
                        //console.log(data);
                    }.bind(this)
                });
            },
            winGame: function (player) {
                if( (this.positionsSelected[0] == player && this.positionsSelected[1] == player && this.positionsSelected[2] == player) ||
                    (this.positionsSelected[3] == player && this.positionsSelected[4] == player && this.positionsSelected[5] == player) ||
                    (this.positionsSelected[6] == player && this.positionsSelected[7] == player && this.positionsSelected[8] == player) ||
                    (this.positionsSelected[0] == player && this.positionsSelected[3] == player && this.positionsSelected[6] == player) ||
                    (this.positionsSelected[1] == player && this.positionsSelected[4] == player && this.positionsSelected[7] == player) ||
                    (this.positionsSelected[2] == player && this.positionsSelected[5] == player && this.positionsSelected[8] == player) ||
                    (this.positionsSelected[0] == player && this.positionsSelected[4] == player && this.positionsSelected[8] == player) ||
                    (this.positionsSelected[2] == player && this.positionsSelected[4] == player && this.positionsSelected[6] == player)){
                    alert("Gana " + player + "!!");
                    this.positionsSelected = new Array(9);
                    setTimeout(() => { this.newGame() }, 1500);
                }
            },
            showLastGames: function () {
                
            }
        }
    }
</script>