<style>

</style>
<template>
    <div class="container">
        <div class="flex-center position-ref full-height">
            <div class="content">
                <img src="images/dices.png" width="200" height="200">
                <div class="title m-b-md games_titles font_white">
                    GAMES
                </div>
            </div>
        </div>
    </div>
</template>